extends base

block content

  // begin menuphones
  .navigator
    input#toggle.navigator__click(type='checkbox')
    label.navigator__button(for='toggle')
      span.navigator__menuicon.ti-menu
    .navigator__background
    nav.navigator__navul
      ul.navigator__listitem
        li.navigator__item
          a.navigator__link(href='#') Travel sites
        li.navigator__item
          a.navigator__link(href='#') Flights
        li.navigator__item
          a.navigator__link(href='#') Best place
        li.navigator__item
          a.navigator__link(href='#') Cruises
        li.navigator__item
          p.dropbtn(onclick='myFunction()') Account
        #myDropdown.dropdown-content
          a.login-trigger.datapopup(onclick='dataPopup()', href='#') Login
          a.login-trigger.datapopup(onclick='dataregisterPopup()', href='#') Rgister
  // end menuphone
  // Trigger
  #overlayregister.overlay(style='display:none;')
    #loginpopup.overlay__modalzo.fadex(role='dialog')
      .modal-dialog
        .modal-mycontent
          .modal-body
            span#closewindow.closeo(data-dismiss='modalzo', onclick='dataCloser()') &times;
            main
              .register-form
                h2.heading-secondary-register Onemytrip create account
                p#messnotice.message
                form.form
                  //
                    <div class="form__group"><label class="form__label" for="email">Name *</label><input
                    class="form__inputo" id="name" type="text" placeholder="youname" required="required" /></div>
                  .form__group
                    label.form__label(for='email') Email address *
                    input#email.form__inputo(type='email', placeholder='you@example.com', required='required')
                  //
                    <div class="form__group ma-bt-md"><label class="form__label" for="password">Password *</label><input
                    class="form__inputo" id="password" type="current-password" placeholder="••••••••"
                    required="required" minlength="8" /></div>
                  .form__group
                    .policy
                      .checkagree
                        label.fontinput-checkbox(for='#')
                          input.agreecheck(type='checkbox')
                          span.checkmark
                      .textpolicy
                        p.textsummarypolicy
                          | Join 
                          a(href='#') OneMyTrip
                          | . opens in a new window By
                          |                                       joining I accept all 
                          a(href='/policy') terms and conditions.
                  .form__group
                    p.textaldeary Already have an account?
                    a.textforgotpass(href='#') Login
                  .form__group
                    .ortext
                      .textdeconrate--text
                        p.or OR Register with
                      hr
                  .form__group
                    .btn-social
                      button.btn-label-1
                        span
                          img.labelimg(src='https://a.travel-assets.com/gss-loader/user/gss-content/images/google-logo.svg', alt='google-logo')
                          fonts.textlabelz Register with Google
                      button.btn-label-2
                        span
                          img.labelimg(src='https://a.travel-assets.com/dms-svg/social/logos-facebook-invert.svg', alt='google-logo')
                          fonts.textlabelz-2 Register with Facebook
                  .form__group
                    button.btno.btn--green Register
  #overlay.overlay(style='display:none;')
    #loginpopup.overlay__modalzo.fadex(role='dialog')
      .modal-dialog
        .modal-mycontent
          .modal-body
            span#closewindow.closeo(data-dismiss='modalzo', onclick='dataClose()') &times;
            main
              .login-form
                h2.heading-secondary-login Onemytrip login account
                p#messnotice.message
                form.form
                  .form__group
                    label.form__label(for='email') Email address *
                    input#email.form__inputo(type='email', placeholder='you@example.com', required='required')
                  .form__group.ma-bt-md
                    label.form__label(for='password') Password *
                    input#password.form__inputo(type='password', placeholder='••••••••', required='required', minlength='8')
                  .form__group
                    .cot.loginoption
                      label.containerz
                        input.checkbox(type='checkbox')
                        span.labelcheck  Keep me signed in
                    .cot.loginoption
                      a.textforgotpass.right(href='/forgotpassword') Forgot password?
                  .form__group
                    p.textaldeary Need an account?
                    a.textforgotpass(href='#') Register
                  .form__group
                    .ortext
                      .textdeconrate--text
                        p.or OR Login with
                      hr
                  .form__group
                    .btn-social
                      button.btn-label-1
                        span
                          img.labelimg(src='https://a.travel-assets.com/gss-loader/user/gss-content/images/google-logo.svg', alt='google-logo')
                          fonts.textlabels Login with Google
                      button.btn-label-2
                        span
                          img.labelimg(src='https://a.travel-assets.com/dms-svg/social/logos-facebook-invert.svg', alt='google-logo')
                          fonts.textlabels-2 Login with Facebook
                  .form__group
                    button.btno.btn--green Login
  section.header-box
    .row
      .backgroundbox
        // nen hop tim kiem chung
        .backgroundbox__boxmenu
          // menu-form begin
          .menuform
            .menuform__box
              button.menuform__button(type='button', href='#flkight')
                span.menuform__label &#x2708; Flights
            .menuform__box
              button.menuform__button(type='button', href='#flight')
                span.menuform__label &#x1F6F3; Cruises
            .menuform__box
              button.menuform__button(type='button')
                span.menuform__label &#x1F3D9; Hotels
          // menu-form end
          // form search begin
          form.form(action='#')
            #flight.form__search
              .form__input
                label.form__labeltitle Fly from: 
                input.form__inputtext(type='text', placeholder='Place origin')
                span.form__icon.ti-location-pin
              .form__icon-box
                span.form__icon-center.ti-arrow-right
              .form__input
                label.form__labeltitle Fly to: 
                input.form__inputtext(type='text', placeholder='Place to')
                span.form__icon.ti-location-pin
            // ////line2///
            .form__search-2
              .form__input-2
                label.form__labeltitle Date Departing: 
                input.form__inputtext-2(type='date', name='bday', placeholder='Place origin')
                span.form__icon.ti-calendar
              .form__input-2
                label.form__labeltitle Date Returming: 
                input.form__inputtext-2(type='date', name='bday', placeholder='Place origin')
                span.form__icon.ti-calendar
              .form__input-2
                label.form__labeltitle Airlines: 
                input.form__inputtext-2(type='text', placeholder='AirAsia')
                span.form__icon.dropdown.ti-angle-down
            .menuform-2
              .menuform-2__box-2
                button.menuform-2__button-2(type='button')
                  span.menuform-2__label-2 Search
  // placelist begin
  section.section-placelist
    .row
      .listplacecountry
        a.linkplace(href='#') Uniter States
        a.linkplace(href='#') Vietnam
        a.linkplace(href='#') Russian
        a.linkplace(href='#') China
        a.linkplace(href='#') France
        a.linkplace(href='#') Australia
        a.linkplace(href='#') South Korea
        a.linkplace(href='#') Japan
      .listplacecountry
        a.linkplace(href='#') UAE
        a.linkplace(href='#') India
        a.linkplace(href='#') Indonesia
        a.linkplace(href='#') Thailand
        a.linkplace(href='#') Cambodia
        a.linkplace(href='#') Laos
        a.linkplace(href='#') Singapore
        a.linkplace(href='#') Philippines
      .listplacecountry
        a.linkplace(href='#') Spain
        a.linkplace(href='#') United Kingdom
        a.linkplace(href='#') Italy
        a.linkplace(href='#') Germany
        a.linkplace(href='#') Mexico
        a.linkplace(href='#') Turkey
        a.linkplace(href='#') Brazil
        a.linkplace(href='#') Morocco
      .listplacecountry
        a.linkplace(href='#') Egypt
        a.linkplace(href='#') South Africa
        a.linkplace(href='#') Argentina
        a.linkplace(href='#') Dominican Republic
        a.linkplace(href='#') Hong Kong
        a.linkplace(href='#') Taiwan
        a.linkplace(href='#') Macau
        a.linkplace(href='#') Austria
      .listplacecountry
        a.linkplace(href='#') Portugal
        a.linkplace(href='#') Greece
        a.linkplace(href='#') Saudi Arabia
        a.linkplace(href='#') Bahrain
        a.linkplace(href='#') Colombia
        a.linkplace(href='#') Peru
        a.linkplace(href='#') Costa Rica
        a.linkplace(href='#') Netherlands
  // placelist end
  section.section-place
    .row
      .text-box.u-margin-bottom-medium
        h2.heading-secondary
          | Best Place Travel United States 
          
      // begin columm
      .columm
        each usas in usa
          .place-box
            .place-box__image-box
              a(href=`/usa/${usas.slug}`)
                img.place-box__imagebox(src=`/img/tours/${usas.imageCover}`, alt='')
              h3.place-box__title= usas.name

  section#section-place.section-place
    .row
      .text-box.u-margin-bottom-medium
        h2.heading-secondary
          | Best Place Travel Viet Nam 
          
      // begin columm
      .columm
        each tour in tours
          .place-box
            .place-box__image-box
              a(href=`/tour/${tour.slug}`)
                img.place-box__imagebox.myBtns(src=`/img/tours/${tour.imageCover}`, alt='')
              h3.place-box__title= tour.name
  section.section-place
    .row
      .text-box.u-margin-bottom-medium
        h2.heading-secondary
          | Best Place Travel Russia
          
      // begin columm
      .columm
        each russ in rus
          .place-box
            .place-box__image-box
              a(href=`/rus/${russ.slug}`)
                img.place-box__imagebox(src=`/img/tours/${russ.imageCover}`, alt='')
                h3.place-box__title= russ.name        

  section.box-ads
    .row
      .adsgoogle
        img.adsbanner(src='/img/boxads.png')
  section.playlist-site
    .row
      .book
        .text-box.u-margin-bottom-medium
          h1.heading-secondary
            | Best Travel Sites 
            
        table.w100
          thead
            tr
              th.thead Travel sites
              th.thead
              th.thead Type
              th.thead Company
          tbody
            tr
              td.column1(data-label='Travel Sites ')
                a.linksite(href='https://booking.com', target='_blank')
                  strong 1,Booking.com
              td.column2(data-label=' ')
                img(src='/img/Booking-Logo.png')
              td.column3(data-label='Type') Hotels, Flights, Cars, Tours, Airport Taxis
              td.column4(data-label='Company') Booking Holdings (United States) 
            tr
              td.column1(data-label=' Travel Sites')
                a.linksite(href='https://agoda.com', target='_blank')
                  strong 2,Agoda.com
              td.column2(data-label=' ')
                img(src='/img/agoda-com.png')
              td.column3(data-label='Type') Hotels, Flights
              td.column4(data-label='Company') Booking Holdings( United States)
            tr
              td.column1(data-label=' Travel Sites')
                a.linksite(href='https://expedia.com', target='_blank')
                  strong 3,Expedia.com
              td.column2(data-label=' ')
                img(src='/img/Expedia-Logo.png')
              td.column3(data-label='Type') Hotels, Flights, Cruises, Cars, Vacation Rentals
              td.column4(data-label='Company') ExpediaGroup (United States) 
            tr
              td.column1(data-label='Travel Sites ')
                a.linksite(href='https://hotels.com', target='_blank')
                  strong 4,Hotels.com
              td.column2(data-label=' ')
                img(src='/img/hotels-com.png')
              td.column3(data-label='Type') Hotels
              td.column4(data-label='Company') ExpediaGroup (United States) 
            tr
              td.column1(data-label='Travel Sites ')
                a.linksite(href='https://kayak.com', target='_blank')
                  strong 5,Kayak.com
              td.column2(data-label=' ')
                img(src='/img/kayak-logo.png')
              td.column3(data-label='Type') Hotels, Flights
              td.column4(data-label='Company') Booking Holdings( United States)
            tr
              td.column1(data-label='Travel Sites ')
                a.linksite(href='https://marriott.com', target='_blank')
                  strong 6,Marriott.com
              td.column2(data-label=' ')
                img(src='/img/Marriott_International.png')
              td.column3(data-label='Type') Hotels, Flights, Cars, Tours, Resorts
              td.column4(data-label='Company') Marriott International (United States) 
            tr
              td.column1(data-label='Travel Sites ')
                a.linksite(href='https://www.priceline.com/?gclid=CjwKCAiAyeTxBRBvEiwAuM8dnTHgaFDNSiZXc7KN3KQ5EJihVDZytSojGqcRJEVFoTwdJVZabiD8jxoCUUMQAvD_BwE', target='_blank')
                  strong 7,Priceline.com
              td.column2(data-label=' ')
                img(src='/img/priceline-com.png')
              td.column3(data-label='Type') Hotels, Flights, Cruises, Cars
              td.column4(data-label='Company') Booking Holdings (United States)
            tr
              td.column1(data-label='Travel Sites ')
                a.linksite(href='https://makemytrip.com', target='_blank')
                  strong 8,Makemytrip.com
              td.column2(data-label=' ')
                img(src='/img/makemytrip.png')
              td.column3(data-label='Type') Hotels, Flights, Cruises, Cars, Trains
              td.column4(data-label='Company')  MakeMyTrip LTD (India)
            tr
              td.column1(data-label='Travel Sites ')
                a.linksite(href='https://trip.com', target='_blank')
                  strong 9,Trip.com
              td.column2(data-label=' ')
                img(src='/img/Trip-logo.png')
              td.column3(data-label='Type') Hotels, Flights, Cars, Trains
              td.column4(data-label='Company') Ctrip.com Limited (HongKong)
            tr
              td.column1(data-label='Travel Sites ')
                a.linksite(href='https://cheapoair.com', target='_blank')
                  strong 10,Cheapoair.com
              td.column2(data-label=' ')
                img(src='/img/cheapoair-logo.png')
              td.column3(data-label='Type') Hotels, Flights, Cruises, Cars, Vacation Rentals
              td.column4(data-label='Company') Fareportal,Inc (United States)
            tr
              td.column1(data-label='Travel Sites ')
                a.linksite(href='https://hotwire.com', target='_blank')
                  strong 11,Hotwire.com
              td.column2(data-label=' ')
                img(src='/img/hotwire-logo.png')
              td.column3(data-label='Type') Hotels, Flights, Cars
              td.column4(data-label='Company') ExpediaGroup (United States)
            tr
              td.column1(data-label='Travel Sites ')
                a.linksite(href='https://orbitz.com', target='_blank')
                  strong 12,Orbitz.com
              td.column2(data-label=' ')
                img(src='/img/orbitz-logo.png')
              td.column3(data-label='Type') Hotels, Flights, Cruises, Cars, Vacation Rentals
              td.column4(data-label='Company ') ExpediaGroup (United States)
            tr
              td.column1(data-label='Travel Sites ')
                a.linksite(href='https://traveloka.com', target='_blank')
                  strong 13,Traveloka.com
              td.column2(data-label=' ')
                img(src='/img/Traveloka.png')
              td.column3(data-label='Type') Hotels, Flights, Airport Taxis
              td.column4(data-label='Company') Traveloka (Indonesia)
            tr
              td.column1(data-label='Travel Sites ')
                a.linksite(href='https://travelocity.com', target='_blank')
                  strong 14,Travelocity.com
              td.column2(data-label=' ')
                img(src='/img/travelocity.png')
              td.column3(data-label='Type ') Hotels, Flights, Cruises, Cars
              td.column4(data-label='Company ') ExpediaGroup (United States)
            tr
              td.column1(data-label='Travel Sites ')
                a.linksite(href='https://trivago.com', target='_blank')
                  strong 15,Trivago.com
              td.column2(data-label=' ')
                img(src='/img/trivago-logo.png')
              td.column3(data-label='Type ') Hotels
              td.column4(data-label=' Company') Trivago (Germany)
            tr
              td.column1(data-label='Travel Sites ')
                a.linksite(href='https://oyorooms.com', target='_blank')
                  strong 16,Oyorooms.com
              td.column2(data-label=' ')
                img(src='/img/oyo-rooms.png')
              td.column3(data-label='Type ') Hotels
              td.column4(data-label='Company ')  Oyo Rooms (India)
            tr
              td.column1(data-label=' Travel Sites')
                a.linksite(href='https://travelzoo.com', target='_blank')
                  strong 17,Travelzoo.com
              td.column2(data-label=' ')
                img(src='/img/travelzoo-logo.png')
              td.column3(data-label='Type ') Hotels, Cruises, Vacation Rentals
              td.column4(data-label='Company') Travelzoo (United States) 
            tr
              td.column1(data-label=' Travel Sites')
                a.linksite(href='https://edreams.com', target='_blank')
                  strong 18,eDreams.com
              td.column2(data-label=' ')
                img(src='/img/edreams.png')
              td.column3(data-label='Type ') Hotels, Flights, Cars
              td.column4(data-label='Company ') eDreams ODIGEO (Spain)
            tr
              td.column1(data-label='Travel Sites ')
                a.linksite(href='https://onetravel.com', target='_blank')
                  strong 19,Onetravel.com
              td.column2(data-label=' ')
                img(src='/img/onetravel.png')
              td.column3(data-label='Type ') Hotels, Flights, Cars, Vacations, Tours
              td.column4(data-label='Company ') WK Travel (United States) 
            tr
              td.column1(data-label='Travel Sites ')
                a.linksite(href='https://bookit.com', target='_blank')
                  strong 20,Bookit.com
              td.column2(data-label=' ')
                img(src='/img/bookit.png')
              td.column3(data-label=' Type') Hotels, Flights, Cruises, Cars
              td.column4(data-label='Company ') Bookit (United States )
            tr
              td.column1(data-label='Travel Sites ')
                a.linksite(href='https://etravel.com', target='_blank') 21,eTravel.com
              td.column2(data-label=' ')
                img(src='/img/eTravel.png')
              td.column3(data-label='Type ') Hotels, Flights, Cruises, Cars
              td.column4(data-label='Company ') eTravel (United States )
